.footer {

    &__aside {
        display: none;

        @media screen and (min-width: $screen-wd) {
            display: block;
            width: 320px;
            background-color: $color-bg-header;
        }
    }

    &__content {
        color: $color-menu-font;
        text-align: center;
        font-family: TTLakes500;
        line-height: 16px;
        padding: 16px;
        background-color: $color-bg-main;

        & p {
            padding-top: 16px;
        }

        @media screen and (min-width: $screen-md) {
            display: flex;
            gap: 36px;
            padding: 24px;

            & p {
                text-align: start;
                flex: 1;
            }

            & p:last-child {
                text-align: end;
            }
        }

        @media screen and (min-width: $screen-lg) {
            padding: 32px;
        }

    }

    @media screen and (min-width: $screen-wd) {
        display: flex;
    }
}