$color-bg-main:#F8F8F8;
$color-bg-aside: #FFFFFF;
$color-bg-header: #FFFFFF;
$color-icon-main: #FF3E79;
$color-font: #1B1C21;
$color-menu-font: #7E7E82;
$color-menu-start: #41F6D7;
$color-menu-border: #B8FFEC;
$color-header-border: #D9FFF5;
$color-brand-border: #EAEAEA;
