$color-bg-main:#F8F8F8;
$color-bg-aside: #FFFFFF;
$color-bg-header: #FFFFFF;
$color-bg-menu: #EAEAEA;
$color-icon-main: #FF3E79;
$color-font: #1B1C21;
$color-menu-font: #7E7E82;
$color-menu-start: #41F6D7;
$color-menu-border: #B8FFEC;
$color-header-border: #D9FFF5;
$color-brand-border: #EAEAEA;
$color-button: #FF3E79;
$color-formfield: #B5B6BC;

$screen-sm:     320px;
$screen-md:     768px;
$screen-lg:     1120px;
$screen-wd:     1440px;

$font-size:     14px;
$letter-spacing: -0.2px;
$font-family:   TTLakes, Arial, sans-serif;

$transition: 0.3s;
